@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply text-xsmall-regular -translate-y-2;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply mx-auto w-full max-w-[1440px] px-8;
  }

  .contrast-btn {
    @apply rounded-full border border-black px-4 py-2 transition-colors duration-200 ease-in hover:bg-black hover:text-white;
  }

  .text-xsmall-regular {
    @apply text-[10px] font-normal leading-4;
  }

  .text-small-regular {
    @apply text-xs font-normal leading-5;
  }

  .text-small-semi {
    @apply text-xs font-semibold leading-5;
  }

  .text-base-regular {
    @apply text-sm font-normal leading-6;
  }

  .text-base-semi {
    @apply text-sm font-semibold leading-6;
  }

  .text-large-regular {
    @apply text-base font-normal leading-6;
  }

  .text-large-semi {
    @apply text-base font-semibold leading-6;
  }

  .text-xl-regular {
    @apply text-2xl font-normal leading-[36px];
  }

  .text-xl-semi {
    @apply text-2xl font-semibold leading-[36px];
  }

  .text-2xl-regular {
    @apply text-[30px] font-normal leading-[48px];
  }

  .text-2xl-semi {
    @apply text-[30px] font-semibold leading-[48px];
  }

  .text-3xl-regular {
    @apply text-[36px] font-normal leading-[48px];
  }

  .text-3xl-semi {
    @apply text-[36px] font-semibold leading-[48px];
  }
}
